@page "/Bill"

@inherits BasePage
@using SVR.Web.Components.Billing.Edit;
@using SVR.Web.Components.Billing.Grid;
@using SVR.Web.Pages;
@*@if()*@

<h3>Bill</h3>

<BillingGrid></BillingGrid>

<BillingEdit></BillingEdit>

@*@if (!ViewMode.IsGridViewMode)
{
    <div class="edit-container-primary">
        @if (Model != null)
        {
            <BillEdit></BillEdit>
        }
    </div>
}*@
