@using SVR.Data.Entitites;
<h3>BillsGrid</h3>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach(Bill billing in Grid)
            {
               <tr>
                   <td>@billing.ID</td>
                   <td>@billing.Description</td>
               </tr>
            }*@
    </tbody>
</table>